<!-- templates/info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AE: Artificial Emotions - examples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
</head>
<body>
    <span style="font-size:50px;cursor:pointer" onclick="openNav()">&#9776; </span>
    
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/info">About</a>
        <a href="/">Generate Image</a>
        <a href="/examples">Previous examples</a>
        <!-- <a href="#">Contact</a> -->
      </div>

    <h1>AE: <br> Artificial Emotions</h1>

    <h2> A ROBOTIC JOURNEY INTO EMOTIONAL INTELLIGENCE</h2>

    <h2> LOADing..</h2>
    
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>

</body>
</html>
