<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AE: Artificial Emotions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
</head>
<body>
    <h1>AE: <br> Artificial Emotions</h1>

    <h2> A ROBOTIC JOURNEY INTO EMOTIONAL INTELLIGENCE</h2>

    <form action="/generate" method="post">
        <label for="prompt">Enter your prompt:</label>
        <br>
        <br>
        <input type="text" id="prompt" name="prompt" required>
        <br>
        <br>
        <button type="submit">Generate Image</button>
    </form>

    {% if image_url %}
        <h2>Generated Image:</h2>
        <img src="{{ image_url }}" alt="Generated Image">
    {% endif %}
</body>
</html>
