<!-- templates/info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AE: Artificial Emotions - info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
</head>
<body>
    <h1>AE: <br> Artificial Emotions</h1>

    <h2> A ROBOTIC JOURNEY INTO EMOTIONAL INTELLIGENCE</h2>
    <br>
    <br>
    <p>
        A semi-autonomous robot capable of unlocking individuals’ artistic expression and powered by
AI will be installed at the Festival of the Mind exhibition. The robot captures the users’
emotional states and translates them into a unique painting. Previous examples showcasing
the fascinating intersection of technology and creativity will also be displayed.
    </p>

    <p>
        This project endeavours to synergise human self-expression through drawing with
technological innovation to promote mental well-being. Recognising drawing as a powerful tool for externalising thoughts, the project addresses the growing need for personalised and

interactive tools in the face of prevalent stress and mental health challenges. The semi-
autonomous robot, equipped with sensors, (potentially facial and voice recognition technology

with machine learning algorithms to aid the capture of individuals’ state of mind), enables users
to visually represent their emotional state. By fostering interaction and collaboration, the project
aims to contribute to improved self-awareness and emotional well-being. The integration of
technology-driven emotional self-expression provides a unique avenue for individuals to
navigate and understand their mental states, with potential benefits for improved self-esteem
and anxiety reduction. In the rapidly advancing technological landscape, this initiative highlights
the significance of leveraging innovation to address societal mental health concerns. The
project's goal is to fill the gap in existing AI methods by offering a specialised platform for
meaningful and personalised self-expression, thus contributing to the broader discourse on
mental well-being in the contemporary context.
    </p>
</body>
</html>
